<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.protector">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".ProtectorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/activity_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.usercenter.LoginActivity"
            android:theme="@style/activity_style"/>
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/activity_style"/>
        <activity
            android:name=".ui.activity.usercenter.RegisterActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.activity.usercenter.AddDeviceActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.activity.usercenter.ScanQACodeActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.activity.usercenter.FinishInfoActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.activity.usercenter.RelationshipActivity"
            android:theme="@style/swipe_activity_style"/>
        <activity
            android:name=".ui.activity.usercenter.ChooseAvatorActivity"
            android:theme="@style/swipe_activity_style"/>
    </application>

</manifest>
